.app-layout{

display:flex;

min-height:100vh;

background:#f5f7fb;

}



.sidebar{

width:260px;

background:white;

border-right:1px solid #e5e7eb;

padding:25px;

}



.sidebar h2{

font-size:24px;

font-weight:700;

margin-bottom:40px;

color:#2563eb;

}



.menu{

display:flex;

flex-direction:column;

gap:15px;

}



.menu-item{


display:flex;

align-items:center;

gap:15px;

padding:14px;

border-radius:12px;

cursor:pointer;

transition:.3s;

font-weight:500;


}



.menu-item:hover{

background:#eff6ff;

color:#2563eb;

}



.main-section{

flex:1;

}



.header{


height:75px;

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

border-bottom:1px solid #e5e7eb;


}



.profile{

display:flex;

align-items:center;

gap:10px;

}



.content-area{

padding:30px;

}